<div class="container">
  <form action="/answer" method="get" class="form">
    <label for="user_input_title" class="title-form">Ask something!</label>
    <input type="text" name="user_input" class="text-input"/>
    <input type="submit" value="ask!" class="btn-input">
  </form>
</div>
